<style>
.rainbow-text {
 animation-duration: 3.115s;
}

.rainbow-text {
 background: linear-gradient(53.13deg,#FFD33D 0,#FB8532 16.02%,#EA4A5A 28.06%,#8A63D2 56.92%,#2188FF 72.93%,#34D058 84%,#FFD33D 100%);
 background-size: auto;
 background-clip: border-box;
 background-clip: text;
 display: inline-block;
 color: transparent;
 text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: shine 6.28s alternate infinite;
 animation-duration: 6.28s;
 background-size: 300%;
}

@keyframes shine {
 0% {
  background-position:200% center
 }
 62.8% {
  background-position:100% center
 }
 100% {
  background-position:200% center
 }
}
</style> 

