* {
    font-family: Proxima Nova;
}

a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
    padding: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #DFB450;
}

main {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    background: rgba(223, 180, 80, 0.9);
}

.home, .hunter, .about, .artist {
    position: fixed;
    font-weight: 900;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    transition: 0.5s;
}

.home {
    top: 0;
    margin: 14px 0 14px 0;
    left: calc(50% - 25.92px);
    color: #902920;
    border-bottom: 2px solid #902920;
}

.hunter {
    bottom: 0;
    margin: 14px 0 14px 0;
    left: calc(50% - 31.68px);
}

.about {
    left: 0;
    top: calc(50% - 27.5px);
    transform: rotate(-90deg);
}

.artist {
    right: 0;
    top: calc(50% - 26.36px);
    transform: rotate(90deg);
}

.portrait {
    width: 38vmax;
    left: 50%;
    transform: translateX(-60%);
    position: absolute;
    bottom: 50px;
}

.hunter:hover, .home:hover, .artist:hover, .about:hover {
    color: #902920;
    border-bottom: 2px solid #902920;
    transition: 0.5s;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 175px;
    top: calc(50% - 87.5px);
  overflow-x: hidden;
}

.content {
    font-size: 144px;
    font-weight: 900;
    font-style: italic;
}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}