* {
    font-family: Proxima Nova;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.artist {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 100px;
    font-weight: 900;
}

/* --- Fullpage Slider--- */
.fp-viewing-firstSection {
    overflow: hidden;
    height: 100%;
}
.fullpage-wrapper {
    height: 100%;
    position: relative;
    touch-action: none;
    transform: translate3d(0px, 0px, 0px);
}
.vertical-scrolling fp-section active fp-table {
    height: 100vh;
}
#section-01 {
    background-color: #DFB450!important;
}

#section-02 {
    background-color: #a5392d!important;
}

#section-03 {
    background-color: #1A1A1A!important;
}
.fp-tableCell {
    height: 100vh;
}

.scroll {
    margin: 0;
    position: absolute;
    right: 20%;
    bottom: 230px;
    font-weight: 900;
}

.pw {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25%);
    z-index: 10;
}

/* --- Hunter Loop Font --- */

#section-01 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.fp-tableCell {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes section-01 {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
