@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


html,
body,
form {
  height     : 100%;
  font-family: 'Luckiest Guy', cursive;

}

body {
  background-image: url(Bilder/Pexels\ Videos\ 2715412-2.mp4);
  background-size : cover;
  size            : inherit;
}

form {
  align-items    : center;
  display        : flex;
  justify-content: center;
}

input {
  left    : 50%;
  opacity : 0.01;
  position: fixed;
  top     : 50%;
}

.options {
  display       : flex;
  flex-direction: column;
  margin        : 0 60px;
}

.options label {
  background-color   : #7e6eb985;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : 60%;
  border-radius      : 50%;
  cursor             : pointer;
  display            : block;
  height             : 120px;
  margin             : 10px auto;
  transition         : transform 0.2s;
  transform          : scale(1);
  width              : 120px;
}

.options label:hover {
  background-color: #53448b85;
  background-size : 65%;
  transform       : rotate(20deg);

}

.options label.r {
  background-image: url(Bilder/cat.png);
  background-size : 50%;
}

.options label.r:hover {
  background-size: 55%;
}

.options label.p {
  background-image: url(Bilder/elephant.png);
}

.options label.s {
  background-image: url(Bilder/mouse.png);
}

input.you:checked~.options label {
  transform: scale(0.8);
}

input.you:nth-of-type(1):checked~.options label.r,
input.you:nth-of-type(2):checked~.options label.p,
input.you:nth-of-type(3):checked~.options label.s {
  background-color: #cc0ecc85;
  transform       : scale(1.25);
}

.it {
  display       : flex;
  flex-direction: column;
  margin        : 0 60px;
  width         : 120px;
}

.it div {
  background-color   : #641e5885;
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : 60%;
  border-radius      : 50%;
  display            : none;
  height             : 120px;
  transform          : scale(1.25);
  width              : 120px;
}

.it div.r {
  background-image: url(Bilder/cat.png);
  background-size : 50%;
}

.it div.p {
  background-image: url(Bilder/elephant.png);
}

.it div.s {
  background-image: url(Bilder/mouse.png);
}

.game {
  border-radius: 50%;
  height       : 120px;
  overflow     : hidden;
  position     : relative;
  width        : 120px;
  z-index      : 10;
}

.game:before,
.game:after {
  align-items    : center;
  background     : #1a3777;
  color          : white;
  content        : "nimm es Fiich!";
  display        : flex;
  height         : 100%;
  justify-content: center;
  left           : 0;
  position       : absolute;
  text-align     : center;
  top            : 0;
  width          : 100%;
  z-index        : 2;
}

.game:after {
  background    : #f809f8;
  content       : "kämpfe!";
  cursor        : pointer;
  font-size     : 26px;
  pointer-events: none;
  transition    : font 0.2s;
  z-index       : 1;
  transition-duration: 1s;
}

.game:hover:after {
  font-size       : 30px;
  background-image: url("Bilder/fire.png");
  background-color: transparent;
  background-size : 100%;
}

.game .go {
  -webkit-animation-duration       : 0.02s;
  animation-duration               : 0.02s;
  -webkit-animation-name           : random;
  animation-name                   : random;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count        : infinite;
  display                          : flex;
  flex-direction                   : column;
}

.game .go:active {
  -webkit-animation-play-state: paused;
  animation-play-state        : paused;
}

.game label {
  cursor: pointer;
  height: 120px;
  width : 120px;
}

input.skynet:checked~.game .go {
  -webkit-animation-play-state: paused;
  animation-play-state        : paused;
}

@-webkit-keyframes random {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-240px);
  }
}

@keyframes random {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-240px);
  }
}

/**
 * Start
 **/
input.you:checked~.game:before {
  display: none;
}

/**
 * Results
 **/
input#you-1:checked~input#skynet-1:checked~.results .tie,
input#you-2:checked~input#skynet-2:checked~.results .tie,
input#you-3:checked~input#skynet-3:checked~.results .tie {
  display: flex;
}

input#you-1:checked~input#skynet-3:checked~.results .win,
input#you-2:checked~input#skynet-1:checked~.results .win,
input#you-3:checked~input#skynet-2:checked~.results .win {
  display: flex;
}

input#you-1:checked~input#skynet-2:checked~.results .lose,
input#you-2:checked~input#skynet-3:checked~.results .lose,
input#you-3:checked~input#skynet-1:checked~.results .lose {
  display: flex;
}

input#skynet-1:checked~.it .r,
input#skynet-2:checked~.it .p,
input#skynet-3:checked~.it .s {
  display: flex;
}

input.you:checked~input.skynet:checked~.results {
  display: flex;
}

.results {
  align-items    : center;
  display        : none;
  bottom         : 0;
  flex-direction : column;
  justify-content: center;
  left           : 0;
  position       : fixed;
  right          : 0;
  top            : 0;
  z-index        : 100;
}

.results .win {
  align-items                : center;
  background                 : #7d7f83;
  background-image           : url("Bilder/trophy.png");
  background-size            : 100%;
  border-radius              : 50%;
  color                      : rgba(255, 255, 255, 0.63);
  display                    : none;
  font-size                  : 40px;
  height                     : 180px;
  justify-content            : center;
  width                      : 180px;
  animation-name             : win;
  animation-duration         : 3s;
  animation-timing-function  : ease-in-out;
  /*animation-iteration-count: 1;*/
}

.results .lose {
  align-items     : center;
  background      : #1b3357;
  background-image: url("Bilder/crying.png");
  background-size : 100%;
  border-radius   : 50%;
  color           : rgba(255, 255, 255, 0.63);
  display         : none;
  font-size       : 40px;
  height          : 180px;
  justify-content : center;
  width           : 180px;
  animation-name             : win;
  animation-duration         : 3s;
  animation-timing-function  : ease-in-out;
}

.results .tie {
  align-items     : center;
  background      : #eed026;
  background-image: url("Bilder/brotherhood.png");
  background-size : 100%;
  border-radius   : 50%;
  color           : rgba(255, 255, 255, 0.63);
  display         : none;
  font-size       : 40px;
  height          : 180px;
  justify-content : center;
  width           : 180px;
  animation-name             : win;
  animation-duration         : 3s;
  animation-timing-function  : ease-in-out;
}

.results button {
  background   : #ceb121;
  border       : none;
  border-radius: 3px;
  color        : rgb(255, 255, 255);
  cursor       : pointer;
  height       : 40px;
  margin       : 20px 0 -60px;
  width        : 80px;
}

@keyframes win {
  0% {
    height: 20vh;
    width : 20vh;
  }

  100% {
    height: 30vh;
    width : 30vh;
  }
}