* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: rgb(255, 240, 250);
  --cy: calc(100vh / 100);
  --scale: 200;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: black;

  font-family: 'Raleway', sans-serif;
  color: var(--font-color);
  text-transform: uppercase;
}

/* #canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: painted;
 transform: scaleY(0.5) translateY(-50%); 
border: 1px solid red;
} */

/* CONTROLLER */

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 4em;
  height: 100vh;

  display: flex;
  flex-direction: column;

  border-right: 2px solid var(--font-color);
  mix-blend-mode: difference;

  font-size: 1.2em;
  letter-spacing: 0.5em;
}

#play {
  opacity: 1;
}
#pause {
  opacity: 1;
}
#restart {
  opacity: 1;
}
#stop {
  font-weight: 700;
}

.testdiv {
  width: 300px;
  height: calc(100 * var(--cy));
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
}

.controler {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.controler div {
  transform: rotate(270deg);
  transition: all 50ms linear;
}
.controler:hover div {
  margin-left: -0.5em;
}

/* MAIN-CONTAINER, horizontal scrollable */

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: max-content;

  font-weight: 900;

  display: flex;
}

/* ANIMATIONS */

.weight-animation {
  font-variation-settings: 'wght' calc(var(--scale) * 6);
}

.anaglyph-effect {
  text-shadow: 0.01em 0.01em 0em red, -0.01em -0.01em 0em cyan;
}

.shrink-animation {
  transform-origin: left center;
}

.test-class {
  color: red;
}

.vertical-text {
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertical-text div {
  /* background-color: red; */
  transform: rotate(90deg);
  font-size: calc(38 * var(--cy));
}

.strobo {
  animation: strobo 600ms ease infinite alternate;
  background-color: white !important;
  mix-blend-mode: difference;
}
.strobo:hover {
  animation-duration: 50ms;
}
@keyframes strobo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    /* filter: invert(1); */
  }
}

/* .klappe {
  cursor: pointer;
}

.klappe div {
  animation: klappweg 2s ease-in-out 1 0.5s backwards;
  animation-play-state: paused;
  transform-origin: top center;
}

.klappe:hover div {
  animation-play-state: running;
}

@keyframes klappweg {
  100% {
    transform: rotateX(90deg);
  }
} */

/* GRID ELEMENTS */

.helpgrid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(1fr);

  opacity: 0.4;
}

.helpgrid div {
  border-bottom: 1px solid yellow;
  opacity: 0.7;
}

.row {
  /* min-width: 300px; */
  height: 100%;
  position: relative;
  padding: 0 3vh;
}

.row > div {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 0.036em;
}

.flash-animation {
  opacity: 0;
  -webkit-text-stroke: 0.01em var(--font-color);
  -webkit-text-fill-color: transparent;
  color: var(--font-color);
}

.cell-20 {
  height: 20%;
  width: 100%;
  font-size: calc(27 * var(--cy));
  line-height: 0.9;
}
.cell-25 {
  height: 25%;
  width: 100%;
  /* background-color: blue; */
  font-size: calc(34.5 * var(--cy));
  line-height: 0.73;
}
.cell-33 {
  height: 33%;
  width: 100%;
  /* background-color: blue; */
  font-size: calc(45.5 * var(--cy));

  line-height: 0.73;
}
.cell-40 {
  height: 40%;
  width: 100%;
  font-size: calc(40 * var(--cy));

  line-height: 0.73;
}
.cell-50 {
  height: 50%;
  width: 100%;
  font-size: calc(68 * var(--cy));

  line-height: 0.73;
}
.cell-80 {
  height: 80%;
  width: 100%;
  font-size: calc(110 * var(--cy));

  line-height: 0.73;
}
.cell-100 {
  height: 100%;
  width: 100%;
  font-size: calc(130 * var(--cy));

  line-height: 0.8;
}

/* SQUARE STYLES */

.square {
  width: 100%;
  height: 100%;
  background-color: var(--font-color);
  transition: transform 200ms linear;
  position: absolute;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .controler div {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: 600;
    transform: rotate(0deg);
  }

  nav {
    width: 100vw;
    height: calc(100vh - 100 * var(--cy));
    flex-direction: row;
    border-bottom: 2px solid var(--font-color);
    border-right: none;
  }

  .controler:hover div {
    margin-bottom: -0.3em;
    margin-left: unset;
  }

  .main-container {
    top: 72px;
    bottom: 0;
    left: 0em;
  }

  .helpgrid {
    top: 72px;
  }
}
