@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        
h1,
h2,
h3,
p,
.link {
    font-family: 'Staatliches', cursive;
}

h1 {
    color: #8DCBC6;
    font-size: 5vw;
    letter-spacing: 1vw;
}

h2 {
    color: #CB162D;
    font-size: 4vw;
    letter-spacing: 1vw;
}

h3 {
    color: #CB162D;
    font-size: 3vw;
    letter-spacing: 1vw;
}

p {
    color: white;
    font-size: 3vw;
    letter-spacing: 0.5vw;
}

.link {
    color: white;
    font-size: 4vw;
    letter-spacing: 0.5vw;
}

a:link,
a:visited {
    background-color: #8DCBC6;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
}

a:hover,
a:active {
    background-color: #CB162D;
    color: white;
}

.cursor {
    cursor: url(./Images/ufo-flying.png), auto;
}

body {
    background-image: linear-gradient(#3b3b3b, #000000) leftmargin="80px" topmargin="100px";
    
}