.box1{
    width: 200px;
    height: 200px;
    border: 1px solid lightcoral;
    margin: 20px;
}
.box2{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 10px solid lightcoral;
    background-color: lightseagreen;
    padding: 20px;
    box-shadow: 10px 20px 20px rgb(184, 184, 184);
}
.circle{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 100%;

    border: 1px groove lightcoral;
    background-color: lightseagreen;
    padding: 20px;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}

a { font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: black;

}
.menu {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    background-color: #FFAF46;
    justify-content: center;
}
.menu div {
    padding: 20px;
    width: 160px;
    border: 2px solid white;
}
