*{
    font-family: Arial, Helvetica, sans-serif;
}

a { font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
a:hover{
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu div {
    padding: 20px;
    font-weight: 700;
    background-color: #FFAF46;
    border: 3px solid white;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.item{
    width: 400px;
}