@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-ExtraLight.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-ExtraLightIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-ExtraLightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Light.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-LightIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-LightIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-LightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Regular.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-It.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-It.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-It.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Medium.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-MediumIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-MediumIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-MediumIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Semibold.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-SemiboldIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-SemiboldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Bold.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-BoldIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-BoldIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-Black.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-Black.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-Black.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/source-code-pro-release/WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2') format('woff2'),
        url('fonts/source-code-pro-release/WOFF/OTF/SourceCodePro-BlackIt.otf.woff') format('woff'),
        url('fonts/source-code-pro-release/OTF/SourceCodePro-BlackIt.otf') format('opentype'),
        url('fonts/source-code-pro-release/TTF/SourceCodePro-BlackIt.ttf') format('truetype');
}

html,
body {
    margin: 0;
    height: 100%;
    /* overflow: auto; */
}

body {
    font-family: 'Source Code Pro';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    /* background-color: #16161d; */
    background: #0f0f13;
    color: #eff3f5;
}
body,
body * {
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.6;
}

h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
}


.body-content {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15));
}


.header {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    /* width: 100%; */
    /* height: 150px; */
    /* height: 80px; */
    height: 60px;

    /* background: #0f0f13; */
}

.header .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15)); */
}


.header .header-container .header-container-item {padding: 20px;}
.header .header-container .header-container-item.header-container-logo {}
.header .header-container .header-container-item.header-container-nav {}

.header-container-nav .nav-toggle {}
.header-container-nav .nav-content {
    display: none;
}






.main {

    /* background: #16161d; */
    /* background: #0f0f13; */
    height: 100%;
    width:100%;


    /* margin-top: 80px; */
    /* margin-top: 60px; */
    padding-top: 60px;

}

.main > .main-container {
    /* padding: 120px 20px 20px 20px; */
    height: 100%;
    /* background: #16161d; */ /* Very Dark*/
    background: #2D2D34; /* Lighter*/

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /* border: 1px solid rgba(9, 9, 11, 0.1); */
    border: 1px solid rgba(236, 236, 249, 0.1);
}
.main > .main-container > .main-inner {
    position: relative;
    height: 100%;
    padding: 20px 20px 20px 20px;
    /* background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15)); */ /* Very Dark*/
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.10)); /* Lighter*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main .info-card {
    display: block;
    width: 100%;
    max-width:600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 14px 0 rgba(236, 236, 249, 0.15);
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15));
    border: 1px solid rgba(9, 9, 11, 0.1);
    /*box-shadow: 0 0 16px -10px #eff3f5;*/
    /*box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);*/
}

.info-card h1,
.info-card h2 {
    margin-top: 0;
}
.info-card p:last-child {
    margin-bottom: 4px;
}


.info-card a {
    color: #a2f4ef;
}


.page {display: flex;flex-flow: wrap;height: 5%;flex-direction: column;justify-content: center;}
.page > .page-item {
    display: block;
    position: relative;
    width: 100%;
    /* max-width:600px; */
    /* max-width: calc(100% - 40px); */
    max-width: calc(33% - 40px);
    margin: 0px 20px;
    padding: 0 20px;
    border-radius: 20px;
    /* background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15)); */
    /* border: 1px solid rgba(9, 9, 11, 0.1); */
    text-align: center;




  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */








    /* background: linear-gradient(-35deg, rgba(255,255,255,0.05), rgba(0,0,0,0.25)); */
    /* background: linear-gradient(-35deg, rgba(35,35,45,0.05), rgba(0,0,0,0.35)); */

    /* background: linear-gradient(-35deg, rgba(111, 219, 204, 0.15), rgba(0,0,0,0.35)); */
    /* background: linear-gradient(-35deg, rgba(111, 219, 133, 0.15), rgba(0,0,0,0.35)); */
    /* background: linear-gradient(-35deg, rgba(216, 111, 219, 0.15), rgba(0,0,0,0.35)); */



    /* box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15), -3px -3px 14px 0 rgba(236, 236, 249, 0.05); */
    /* border: 1px solid rgba(9, 9, 11, 0.1); */
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page .page-item-button {
    display: flex;
    flex-direction: row;

    align-content: center;
    align-items: center;
    margin-left: 5px;

    padding: 0px;
}
.page .page-item-button:first-child {margin-left: 0;}

.page .page-item-button .page-item-button-text {
    display: block;
    height: 25px;
    line-height: 24px;
}
.page .page-item-button .page-item-button-key {
    background: rgba(9, 9, 11, 0.05);

    /* background: rgba(111, 219, 204, 0.05);
    background: rgba(111, 219, 133, 0.05);
    background: rgba(216, 111, 219, 0.05); */

    /* position: absolute; */
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgba(9, 9, 11, 0.15);

    /* border: 2px solid rgba(111, 219, 204, 0.55);
    border: 2px solid rgba(111, 219, 133, 0.55);
    border: 2px solid rgba(216, 111, 219, 0.55); */


    cursor: pointer;

    line-height: 20px;
    border-radius: 5px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    /* margin: 0 10px; */
    margin: 0 3px 0 10px;
    left: auto;
    right: 25px;
    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);
    box-shadow: 6px 6px 14px -1px rgba(0, 0, 0, 0.35), -5px -3px 12px -1px rgba(236, 236, 249, 0.15);
}

.page #button-play.buttontriggered .page-item-button-key {
    background: rgba(111, 219, 204, 0.05);
    border: 2px solid rgba(111, 219, 204, 0.55);
}
.page #button-pause.buttontriggered .page-item-button-key {
    background: rgba(111, 219, 133, 0.05);
    border: 2px solid rgba(111, 219, 133, 0.55);
}
.page #button-reset.buttontriggered .page-item-button-key {
    background: rgba(216, 111, 219, 0.05);
    border: 2px solid rgba(216, 111, 219, 0.55);
}

.page > .page-item .page-item-key {
    background: rgba(9, 9, 11, 0.05);

    /* background: rgba(111, 219, 204, 0.05);
    background: rgba(111, 219, 133, 0.05);
    background: rgba(216, 111, 219, 0.05); */

    /* position: absolute; */
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgba(9, 9, 11, 0.15);

    /* border: 2px solid rgba(111, 219, 204, 0.55);
    border: 2px solid rgba(111, 219, 133, 0.55);
    border: 2px solid rgba(216, 111, 219, 0.55); */


    cursor: pointer;

    line-height: 20px;
    border-radius: 5px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    margin: 0 10px;
    left: auto;
    right: 25px;
    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);
    box-shadow: 6px 6px 14px -1px rgba(0, 0, 0, 0.35), -5px -3px 12px -1px rgba(236, 236, 249, 0.15);
}

body.first-page .page > .page-item .page-item-key:nth-child(1) {
    background: rgba(111, 219, 204, 0.05);
    border: 2px solid rgba(111, 219, 204, 0.55);
}
body.second-page .page > .page-item .page-item-key:nth-child(2) {
    background: rgba(111, 219, 133, 0.05);
    border: 2px solid rgba(111, 219, 133, 0.55);
}
body.third-page .page > .page-item .page-item-key:nth-child(3) {
    background: rgba(216, 111, 219, 0.05);
    border: 2px solid rgba(216, 111, 219, 0.55);
}



.display {display: flex;flex-flow: wrap;height: 25%;}
.display > .display-item {
    display: block;
    position: relative;
    width: 100%;
    /* max-width:600px; */
    max-width: calc(100% - 40px);
    margin: 20px 20px;
    /* margin: 40px auto; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 14px 0 rgba(236, 236, 249, 0.15);
    /* box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(236, 236, 249, 0.15); */
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15));
    border: 1px solid rgba(9, 9, 11, 0.1);
    text-align: center;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */








    /* background: linear-gradient(-35deg, rgba(255,255,255,0.05), rgba(0,0,0,0.25)); */
    background: linear-gradient(-35deg, rgba(35,35,45,0.05), rgba(0,0,0,0.35));




    /* background: linear-gradient(-35deg, rgba(111, 219, 204, 0.15), rgba(0,0,0,0.35)); */
    /* background: linear-gradient(-35deg, rgba(111, 219, 133, 0.15), rgba(0,0,0,0.35)); */
    /* background: linear-gradient(-35deg, rgba(216, 111, 219, 0.15), rgba(0,0,0,0.35)); */



    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15), -3px -3px 14px 0 rgba(236, 236, 249, 0.05);
    border: 1px solid rgba(9, 9, 11, 0.1);
    vertical-align: middle;
    display: table;


    /* EXPERIMENTAL FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}
body.first-page .display > .display-item {
    background: linear-gradient(-35deg, rgba(111, 219, 204, 0.15), rgba(0,0,0,0.35));
}
body.second-page .display > .display-item {
    background: linear-gradient(-35deg, rgba(111, 219, 133, 0.15), rgba(0,0,0,0.35));
}
body.third-page .display > .display-item {
    background: linear-gradient(-35deg, rgba(216, 111, 219, 0.15), rgba(0,0,0,0.35));
}

.display > .display-item .display-item-shadow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* box-shadow: inset 10px 10px 6px 0 rgba(0, 0, 0, 0.00), inset -6px -6px 4px 0 rgba(236, 236, 249, 0.00); */
    box-shadow: inset 10px 10px 16px 0 rgba(0, 0, 0, 0.25), inset -4px -4px 10px 0 rgba(236, 236, 249, 0.15);
    border-radius: 20px;

    transition: box-shadow 0.2s ease-out;
}

.display > .display-item .display-text {
    font-weight: 700;
    font-size: 48px;
    justify-content: ;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);

    display: inline-block;
}


.display > .display-item .display-text.display-workit {

}


.display > .display-item.workit-active .display-text {}





.canvas {display: flex;flex-flow: wrap;height: 35%;}
.canvas > .canvas-item {
    display: block;
    position: relative;
    width: 100%;
    /* max-width:600px; */
    max-width: calc(25% - 40px);
    margin: 20px 20px;
    /* margin: 40px auto; */
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 14px 0 rgba(236, 236, 249, 0.15); */
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(236, 236, 249, 0.15);
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15));
    border: 1px solid rgba(9, 9, 11, 0.1);
    text-align: center;

    cursor: pointer;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */


    transition: box-shadow 0.2s ease-out;
}
.canvas > .canvas-item:hover {
    background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(73, 82, 108,0.1));
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -6px -6px 14px 0 rgba(236, 236, 249, 0.15);
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.25), -4px -4px 12px 0 rgba(236, 236, 249, 0.15);
    /* box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15), -3px -3px 14px 0 rgba(236, 236, 249, 0.05); */

    border: 1px solid rgba(9, 9, 11, 0.2);
}
.canvas > .canvas-item.triggered,
.canvas > .canvas-item:active,
.canvas > .canvas-item:focus {
    /* background-color: #49526c; */
    /* background: linear-gradient(-45deg, rgba(255,255,255,0.05), rgba(0,0,0,0.15)); */
    background: linear-gradient(-35deg, rgba(255,255,255,0.05), rgba(0,0,0,0.25));
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15), -3px -3px 14px 0 rgba(236, 236, 249, 0.05);
    border: 1px solid rgba(9, 9, 11, 0.1);
}






.canvas > .canvas-item .canvas-item-shadow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 10px 10px 6px 0 rgba(0, 0, 0, 0.00), inset -6px -6px 4px 0 rgba(236, 236, 249, 0.00);
    border-radius: 20px;

    transition: box-shadow 0.2s ease-out;
}
.canvas > .canvas-item:hover .canvas-item-shadow {
    /* box-shadow: inset 10px 10px 16px 0 rgba(0, 0, 0, 0.25), inset -4px -4px 10px 0 rgba(236, 236, 249, 0.15); */
    box-shadow: inset 10px 10px 6px 0 rgba(0, 0, 0, 0.00), inset -6px -6px 4px 0 rgba(236, 236, 249, 0.00);
}
.canvas > .canvas-item.triggered .canvas-item-shadow,
.canvas > .canvas-item:active .canvas-item-shadow,
.canvas > .canvas-item:focus .canvas-item-shadow {
    /* box-shadow: inset 10px 10px 16px 0 rgba(0, 0, 0, 0.25), inset -4px -4px 10px 0 rgba(236, 236, 249, 0.15); */
    box-shadow: inset 10px 10px 16px 0 rgba(0, 0, 0, 0.25), inset -4px -3px 10px 0 rgba(236, 236, 249, 0.15);
}


.canvas > .canvas-item span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;

    margin: auto;

    /* height: 20px; */
    height: 24px;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;

    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);

    transform: scale(1.00);

    transition: transform 0.2s ease-out;
}
.canvas > .canvas-item:hover span {
    transform: scale(1.00);
}
.canvas > .canvas-item.triggered span,
.canvas > .canvas-item:active span,
.canvas > .canvas-item:focus span {
    transform: scale(0.97);
}


.canvas > .canvas-item .canvas-item-type {
    /* background: rgba(111, 219, 204, 0.75); */

    /* background: rgba(111, 219, 204, 0.75); */
    /* background: rgba(111, 219, 133, 0.75); */
    /* background: rgba(216, 111, 219, 0.75); */

    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgba(9, 9, 11, 0.15);
    line-height: 20px;
    border-radius: 25px;
    font-weight: 500;
    top: 3px;
    bottom: 0;
    margin: auto;
    left: 25px;
    right: auto;
    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);
    box-shadow: 6px 6px 14px -1px rgba(0, 0, 0, 0.35), -5px -3px 12px -1px rgba(236, 236, 249, 0.15);


    transform: scale(1.00);

    transition: transform 0.2s ease-out;
}
body.first-page .canvas > .canvas-item .canvas-item-type {
    background: rgba(111, 219, 204, 0.75);
}
body.second-page .canvas > .canvas-item .canvas-item-type {
    background: rgba(111, 219, 133, 0.75);
}
body.third-page .canvas > .canvas-item .canvas-item-type {
    background: rgba(216, 111, 219, 0.75);
}

/*body.third-page .canvas > .canvas-item:nth-child(n+1) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+2) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+3) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+4) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+5) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+6) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+7) .canvas-item-type,
body.third-page .canvas > .canvas-item:nth-child(n+8) .canvas-item-type {
    background: rgba(9, 9, 11, 0.15);
}*/


.canvas > .canvas-item:hover .canvas-item-type {
    transform: scale(1.00);
}
.canvas > .canvas-item.triggered .canvas-item-type,
.canvas > .canvas-item:active .canvas-item-type,
.canvas > .canvas-item:focus .canvas-item-type {
    transform: scale(0.94);
}


.canvas > .canvas-item .canvas-item-key {
    background: rgba(9, 9, 11, 0.05);
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgba(9, 9, 11, 0.15);
    line-height: 20px;
    border-radius: 5px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    margin: auto;
    left: auto;
    right: 25px;
    text-shadow: 1px 1px 4px rgba(9, 9, 11, 0.75), -1px -1px 2px rgba(236, 236, 249, 0.55);
    box-shadow: 6px 6px 14px -1px rgba(0, 0, 0, 0.35), -5px -3px 12px -1px rgba(236, 236, 249, 0.15);

    transform: scale(1.00);

    transition: transform 0.2s ease-out;
}
.canvas > .canvas-item:hover .canvas-item-key {
    transform: scale(1.00);
}
.canvas > .canvas-item.triggered .canvas-item-key,
.canvas > .canvas-item:active .canvas-item-key,
.canvas > .canvas-item:focus .canvas-item-key {
    transform: scale(0.94);
}
