body {
    background-color: #2a2b45;
    font-family     : "Red Hat";
    margin          : 0;
    padding         : 0;
}

@font-face {
    font-family: "Red Hat";
    src        : url(../process/css/RedHatDisplay-MediumItalic.ttf);
}

.menu {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #967892;
}

h1 {
    font-weight   : 500;
    color         : #F2C9A0;
    padding-left  : 30px;
    font-size     : 4em;
    letter-spacing: 3px;
}

p {
    color       : #F2C9A0;
    padding-left: 30px;
    font-size   : 2em;
    line-height : 130%;
}


ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #24253b;

}

li {
    float: left;
}

li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 20px 25px;
    text-decoration: wavy;
}

li a:hover {
    background-color: #F19FA1;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #24253b;
}