body {
    background-color: bisque;
    
}

.box1 {
    width: 200px;
    height: 200px;
    border-style: dotted;
    border-color: blueviolet;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.box2 {
    width: 400px;
    height: 400px;
    margin: 3em;
    border-style: double;
    border-color: chartreuse;
    

}

.box3 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 250px;
    border-radius: 3px 40px 80px 7px;
    background-image: linear-gradient(cornflowerblue, rebeccapurple);
    box-shadow: 5px 10px 10px lightcoral;

}


body {
    font-family: Montserrat;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.box3:hover {
    background-image: linear-gradient(lightpink, lightblue);
    box-shadow: 5px 20px 20px purple, -5px -20px 20px greenyellow;
    ;
}

li{
    display: inline;
}

button{
    color: hotpink;
    border-style: dotted;
    
}

span{
    display: block;
    margin: auto 0;
    height: 20px;
}