* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  text-transform: uppercase;

}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1em;
  background-color: white;
  transition: height 200ms ease;
  mix-blend-mode: difference;
}

a:hover:after{
  height: 100%;
}

ul{
list-style: none;
}

li{
  padding-bottom: .5em;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

header{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 0em;
  
}

header h1{
  font-size: 4em;
  line-height: 1;
}

header strong{
font-size: 2em;
margin-bottom: .5em;
display: block;
}

#about{
  padding-right: 2em;
}

 h1{
  margin-bottom: 1em;
}


.progress-container>div{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border: 2px solid #000;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: normal;
  padding: .5em;
}

.progress-container h3{
  font-weight: normal;
  font-size: inherit;
}

@media screen and (max-width:640px) {
  header, .main-container, .progress-container>div {
    grid-template-columns: 1fr;
  }
   .progress-container {
    margin-top: 4em;
  }
   .progress-container .links-list{
display: grid; 
grid-template-columns: 1fr 1fr; }
   .progress-container>div>div {
    margin-bottom: 1em;
  }
   .progress-container>div>div:first-child {
border-bottom: .1em solid black;
padding-bottom: .5em;
font-weight: bold;
  }
}

