
        body {
            margin: 0px;
            background-color: black;
            font-family: 'Roboto', sans-serif;
            overflow-x: hidden;

            font-size: 10vw;
        }

        .container {
            margin-left:150px;
            margin-top: 80px;
            display: grid;
            justify-content: center;
            grid-template-columns: 11.6vw 11.6vw 11.6vw 11.6vw 11.6vw 11.6vw 11.6vw;
            grid-template-rows: 17.2vh 17.2vh 17.2vh 17.2vh 17.2vh;
        }


        .box1 {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 3;

        }

        .box2 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 3;

        }

        .box3 {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 4;

        }

        .box4 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 3;
            grid-row-end: 4;

        }

        .box5 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 6;


        }

        .box6 {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 6;

        }

        .box7 {
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 4;
            grid-row-end: 6;

        }

        .give {
            align-items: baseline;
            justify-content: baseline;
            align-content:flex-end;
            opacity: 65%;
            color: #C01DB0;
            line-height: 65%;
            font-size: 26.5vw;
            animation: giveslide 12s ease-in-out;

        }

        .givecontainer {
            display: flex;
            align-items: baseline;
            height: 100%;
            align-items: flex-end;
        }

        @keyframes giveslide {
            0% {
                transform: translateX(-80vw);
            }

            50% {
                transform: translateX(0vw);
            }

            100% {
                transform: translateX(0vw);
            }
        }

        .gn {
            color: #1DB6C0;
            line-height: 76.7%;
            font-size: 26vw;
            animation: gnslide 17s ease-in-out;

        }

        @keyframes gnslide {
            0% {
                transform: translateX(80vw);
            }

            50% {
                transform: translateX(0vw);
            }

            100% {
                transform: translateX(0vw);
            }
        }

        .s {
            line-height: 72%;
            font-size: 37vw;
            color: black;
            margin-top: 60px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #ffffff;
            text-shadow: 0 0 2rem #ffffff;
            animation: flicker-in-1 5s linear both;
        }

        @keyframes flicker-in-1 {
            0% {
                opacity: 0;
            }

            10% {
                opacity: 0;
            }

            10.1% {
                opacity: 1;
            }

            10.2% {
                opacity: 0;
            }

            20% {
                opacity: 0;
            }

            20.1% {
                opacity: 1;
            }

            20.6% {
                opacity: 0;
            }

            30% {
                opacity: 0;
            }

            30.1% {
                opacity: 1;
            }

            30.5% {
                opacity: 1;
            }

            30.6% {
                opacity: 0;
            }

            45% {
                opacity: 0;
            }

            45.1% {
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            55% {
                opacity: 1;
            }

            55.1% {
                opacity: 0;
            }

            57% {
                opacity: 0;
            }

            57.1% {
                opacity: 1;
            }

            60% {
                opacity: 1;
            }

            60.1% {
                opacity: 0;
            }

            65% {
                opacity: 0;
            }

            65.1% {
                opacity: 1;
            }

            75% {
                opacity: 1;
            }

            75.1% {
                opacity: 0;
            }

            77% {
                opacity: 0;
            }

            77.1% {
                opacity: 1;
            }

            85% {
                opacity: 1;
            }

            85.1% {
                opacity: 0;
            }

            86% {
                opacity: 0;
            }

            86.1% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes s-blend {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .me {
            margin-top: 50px;
            color: #1DB6C0;
            line-height: 76.7%;
            font-size: 7.8vw;
            text-shadow: 0 0 2rem #1DB6C0;

        }


        .drehen {
            transform: rotate(90deg);
            display: inline-block;
        }

        .drehen- {
            transform: rotate(-90deg);
            display: inline-block;
        }

        .a {
            line-height: 100%;
            font-size: 7.8vw;
            color: black;
            margin-left: 40px;
            margin-top: 32px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #C01DB0;


        }




        .dana {
            margin-right: 7px;
            text-align: end;
            line-height: 100%;
            font-size: 3vw;
            color: black 0;
            margin-top: 3px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #ffffff;
            text-shadow: 0 0 2rem #ffffff;
            animation: flicker-in-1 4s linear both;

        }

        



        .fakear {
            text-align: start;
            line-height: 100%;
            font-size: 3vw;
            color: black;
            margin-top: 60px;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #1DB6C0;
            animation: flicker-in-1 4s linear both;

        }


        .rp {

            display: flex;
            width: 100%;
            height: 100px;
            justify-content: center;
            flex-wrap: wrap;


        }

        .remember {
            font-size: 80px;
            color: #1DB6C0;
            margin-right: 20px;
            transition: all 0.5s ease;
        }
        .remember:hover {
            color: #f0f;
        }

        .picked {
            
            animation: mover 0s infinite alternate;
            font-size: 80px;
            margin-top: 80px;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #ffffff
        }

        .picked:hover {
            animation: mover 1s infinite alternate;
                
        }


        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-80px);
            }
        }


        .rose {
            font-size: 80px;
            background-image: linear-gradient(90deg, purple, red, purple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: slidein 10s infinite;

        }

        .animationrose {
            animation: slideinright 10s infinite;

        }

        @media only screen and (max-width: 1400px) {
            .container {
                margin-left: 100px;
            }

        }

        .eck {
            position: fixed;
            width: 30vw;
            height: 30vw;
            right: 100px;
            top: 572px;

            background: #C01DB0;
            filter: blur(10vw);
        }

        .eck2 {
            z-index: -1;
            position: fixed;
            width: 30vw;
            height: 30vw;
            left: 200px;
            top: 200px;

            background: #1DB6C0;
            filter: blur(150px);
        }

        .raum {
            width: 100%;
            height: 300px;
        }

        .raum2 {
            width: 100%;
            height: 600px;
        }



        .container1 {
            padding-top: 300px;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;


        }

        .nlf {
            margin: 30px;
        }

       
        
        .never {
            font-size: 4vw;
            color: #C01DB0;
            animation: skaleB 4s infinite;
            
           
        }
       

        
        
        .looked {
            animation: skaleC 4s infinite;
            font-size: 4vw;
            color: white;
            
            
           
        }
        

        .froze {
            animation: skaleB 4s infinite;
            font-size: 4vw;
            color: #1DB6C0;
            
        }

        @keyframes skaleB {
            0% {
                transform:scale(1)
            }
            50% {
                transform:scale(1.5)
            }
        }
        @keyframes skaleC {
            0% {
                transform:scale(1.5)
            }
            50% {
                
                transform:scale(1)
            }
            100% {
                
                transform:scale(1.5)
            }
        }


        

        



        @keyframes flickerAnimation {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }



        .animate-flicker {
            -webkit-animation: flickerAnimation 3s infinite;
            -moz-animation: flickerAnimation 3s infinite;
            -o-animation: flickerAnimation 3s infinite;
            animation: flickerAnimation 3s infinite;
        }

        @keyframes slidein {
            0% {
                transform: translateX(-80vw);
            }

            100% {
                transform: translateX(80vw);
            }
        }

        @keyframes slideinright {
            0% {
                transform: translateX(80vw);
            }

            100% {
                transform: translateX(-80vw);
            }
        }



        .containermp3 {
            display: flex;
            justify-content: center;

        }

        .containermoon {
            margin-top: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 1500px;
            animation: spin 7s infinite ease;


        }

        .moon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 600px;
            border-radius: 50%;
            box-shadow:
                inset 0 0 50px #fff,
                inset 20px 0 80px #f0f,
                inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f,
                inset -20px 0 300px #0ff,
                0 0 50px #fff,
                -10px 0 80px #f0f,
                10px 0 80px #0ff;
            animation: flickerAnimation 5s infinite;
            


        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .moonlight {
            font-size: 3vw;
            color: blanchedalmond;
            opacity: 65%;
            animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

        }

        @keyframes tracking-in-contract {
            0% {
                letter-spacing: 1em;
                opacity: 0;
            }

            40% {
                opacity: 0.6;
            }

            100% {
                letter-spacing: normal;
                opacity: 1;
            }
        }

        a {
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 10px;
            font-size: 40px;
            text-decoration: none;
            color: rgb(250, 250, 250);
            animation: flicker-in-1 2s linear both;
        }

        a:hover {
            text-decoration: underline;
        }

        .tried {
            font-size: 5vw;
            color: white;
            position: absolute;
            top: 3400px;
            left: 1000px;
            animation:color-me-in 6s ease-in-out infinite ;

        }

        .but {
            font-size: 5vw;
            color: white;
            position: absolute;
            top: 4000px;
            left: 1000px;
            animation:color-me-in 6s ease-in-out infinite ;
        }

        @keyframes color-me-in {
            0% {
              color: #1DB6C0;
            }
            
            25% {
                color: white;
            }
            50% {
                color: black;
            }
            75% {
                color: #C01DB0;
            }
            100% {
                color: #1DB6C0;
              }
          }

          .shine {
            color: rgb(255, 255, 255);
            text-shadow: 0 0 2rem #ffffff;

          }



    .containerI {
        margin-top: 200px;
        display: flex;
        font-size: 10vw;
        width: 100%;
    }
    .i {
        color: black;
        font-size: 8vw;
            


    }

    .i:hover {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 2rem #ffffff;

    }
    .i2 {
        color: black;
        font-size: 8vw;
            


    }

    .i2:hover {
        color: #1DB6C0;
        text-shadow: 0 0 2rem #1DB6C0;

    }

    .containerpfeil {
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }

    .pfeil {
        color: #C01DB0;
        font-size: 3vw;
        text-shadow: 0 0 2rem #C01DB0;
        
    }
    
    .pfeil2 {
        color: #1DB6C0;
        font-size: 3vw;
        text-shadow: 0 0 2rem #1DB6C0;
    }
    
    .pfeil3 {
        color: white;
        font-size: 3vw;
        text-shadow: 0 0 2rem white;
        
    }

    .containerYou {
        margin-top: 600px;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        

    }
    .admit {
        color: #1DB6C0;
    }
    
    .you {
        color: rgb(255, 255, 255);
            text-shadow: 0 0 2rem #ffffff;
            animation: skaleYou 4s ease-in-out infinite;
            
            
    }

    @keyframes skaleYou {
        0% {
            transform:scale(1) 
            
        }
        50% {
            transform:scale(1.5)
            
        }
        100% {
            transform:scale(1)
            
        }
    }

    .containertime {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        margin-top: 600px;
        font-size: 4vw;
    }

    .time {
        color: white;

    }

    .time:hover {
        color: #1DB6C0;
            text-shadow: 0 0 2rem #1DB6C0;
    }

    .time1 {
        color: white;

    }

    .time1:hover {
        color: #C01DB0;
            text-shadow: 0 0 2rem #C01DB0;
    }

    .time2 {
        color: white;

    }

    .time2:hover {
        color: #1DB6C0;
            text-shadow: 0 0 2rem #1DB6C0;
    }

    .time3 {
        color: white;

    }

    .time3:hover {
        color: #C01DB0;
            text-shadow: 0 0 2rem #C01DB0;
    }

    .containerImpressum {
        z-index: 2;
        display: flex;
        width: 100%;
        height: 400px;
        align-items: center;
        background-color: black;
        font-size: 1vw;
        color: white;
    }

    .impressum {
        margin-left: 40px;
    }

    @media only screen and (max-width: 1200px) {
        body {
            background-color: white;
        }

        .s {
            color: white;
        }

        .a {
            color: white;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #1DB6C0;
        }

        .gn {
            line-height: 35%;
            color: #C01DB0;
        }

        .dana {
            color: #C01DB0;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #C01DB0;

        }

        .give {
            opacity: 100%;
            text-shadow: 0 0 2rem #1DB6C0;
            color: #1DB6C0;
            line-height: 100%;
        }

        .fakear {
            color: white;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #C01DB0;
        }

        .picked {
            color: #C01DB0;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #C01DB0;
        }



        .looked {
            color: #C01DB0;
        }

        .containertime {
            color: black;
        }
        .time {
            color: black;
    
        }
        .time1 {
            color: black;
    
        }
        .time2 {
            color: black;
    
        }
        .time3 {
            color: black;
    
        }
        .i {
            color: white;
            font-size: 8vw;
                }
                .i:hover {
                    color: black;
                    text-shadow: 0 0 2rem black;
            

    }

    .moon {
        box-shadow:
                inset 0 0 50px rgb(0, 0, 0),
                inset 20px 0 80px #f0f,
                inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f,
                inset -20px 0 300px #0ff,
                0 0 50px rgb(0, 0, 0),
                -10px 0 80px #f0f,
                10px 0 80px #0ff;
    }
    .moonlight {
        color: black;
    }
}

    
    
    
    