body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-size: cover;
    background-size: 150vw 150vw;
    background-position: center;
    height: 100vh;
	animation-name: gradient 15s ease infinite;
    background-position: center center;
    background-repeat: no-repeat;
    
    
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a{
    font-size: 2vw;
    text-transform: uppercase;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    
}

.nav-area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 0 100px;
    box-sizing:border-box;
    line-height: 70px;
    text-decoration: none;
    
}
.nav-area:after{
    content: '';
    clear: both;
    display: block;
    
    
    

}
.nav-area ul{
    list-style: none;
    margin: 0;
    margin-top: 0em;


}
.nav-area > ul > li{
    float: left;
    position: relative;

}
.nav-area il li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    

}
.nav-area ul li:hover a{
    background: rgb(124, 124, 124);
    text-decoration: none;
}
.nav-area ul ul{
    position: absolute;
    padding: 0;min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
    
}

.nav-area ul li:hover > ul{
    display: block;
}
.nav-area ul ul li:hover{
    background: #262626;
}

.nav-area ul ul li{
    position: relative;
}

.nav-area ul ul ul{
    top: 0;
    left: 100%;
}




