.box1{
    width: 200px;
    height: 200px;
    border-width: 4px;
    border-color: red;
    border-style: dotted;  
    background-color: black;  
    margin: 200px;
    border-radius: 30px;
    box-shadow: -10px 10px 2px green, 40px 20px 5px red
}

.box2 {
    width: 400px;
    height: 400px;
    border-width: 1px;
    border-color: rgb(93, 255, 18);
    border-style: dotted; 
    background-color: blue;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 50%;
}