body {
            background-color: rgb(255, 255, 255);
            color: rgb(223, 178, 111);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 400;
            font-size: 5em;
        }

        h1 {
            color: rgb(223, 178, 111);
            font-weight: 200;
            font-size: 6em;
            line-height: 50%;
            letter-spacing: 100px;
        }

        p {
            font-style: 100;
            font-size: 2em;
            letter-spacing: 100px;



        }
    