body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: #B79363;
}

.impressum
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
}


  
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: transparent;
    border: 1px solid #D9C6AC;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    min-width: 70px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9C6AC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #D9C6AC;
    color: rgb(255, 249, 231);
  
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    /* height: 20vh; */
    color: rgb(36, 35, 35);
    font-family: 'Montserrat', Courier, monospace;
  }

.fk {
    display: flex;
    height: 50vh;
    padding: 0em;
    margin: 0em;


}

.box {
    color: white;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-align: center;
    width: 100vw;
}

.trigger {
    margin-top: 2em;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    transition-delay: 0.5s;
    width: 100vw;
    

}

.vier {

    opacity: 0;
}


.trigger:hover .fuenf {
    transform: translateY(0.4rem);
    color: white;
    /*-webkit-text-stroke: 1px white;*/
    font-size: 2rem;
}

.trigger:hover .eins {
    transform: translateY(2rem);
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1px rgb(167, 132, 102);

}

.trigger:hover .zwei {
    transform: translateY(4.7rem);
    color: transparent;
    -webkit-text-stroke: 1px rgb(167, 132, 102);
    font-size: 4rem;
}

.trigger:hover .drei {
    transform: translateY(9rem);
    color: transparent;
    -webkit-text-stroke: 1px rgb(167, 132, 102);
    font-size: 4.6rem;
}

.trigger:hover .vier {
    transform: translateY(15rem);
    color: white;
    font-size: 4.7rem;
    opacity: 1;
    -webkit-text-stroke: 1px rgb(194, 155, 119);
    /* width and color */
    font-weight: bolder;

}



/*Vermissen*/





img {
    width: 100%;

    /* width: 850px;
    height: 850px;
    left: -130px;
    top: 215px;*/
}

.vermissen {
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    width: 100vw;
}

.box2 {
    height: 100vh;
    width: 100vw;
}

.right {
    width: 100%;
    text-align: center;
}

.right>div {
    height: 1em;
    margin-bottom: .2em;
    overflow: hidden;
    font-size: 1em;
    padding: 0;
    line-height: 1;
    position: relative;
}

.right p {
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
}

.right>div:nth-child(1) p {
    top: .75em;
}

.right>div:nth-child(2) p {
    top: .6em;
}

.right>div:nth-child(3) p {
    top: .45em;
}

.right>div:nth-child(4) p {
    top: .2em;
}

.right>div:nth-child(5) p {
    top: .19em;
}

.right>div:nth-child(7) p {
    bottom: .19em;
}

.right>div:nth-child(8) p {
    bottom: .2em;
}

.right>div:nth-child(9) p {
    bottom: .45em;
}

.right>div:nth-child(10) p {
    bottom: 0.6em;
}

.right>div:nth-child(11) p {
    bottom: 0.75em;
}

.abstand{
    height: 3em;
}

.play-btn {
    position: fixed;
    top: 2em;
    left: 2em;
  }
  
  .fa-play {
    color: #D9C6AC !important;
  }
  
  .fa-pause {
    color: #D9C6AC !important;
  }
@media screen and (max-width:768px) {
    .trigger:hover .vier {
        transform: translateY(14rem);
        color: white;
        font-size: 3rem;
        opacity: 1;
        font-weight: bolder;
    }

    .eins {
        display: none;

    }

    .zwei {
        display: none;
    }

    .drei {
        display: none;
    }


    .trigger:hover .fuenf {
        opacity: 0;

    }

    body {
        background-color: thistle;
    }

    .header {
        flex-direction: column;
    }

    .dropdown {
        margin: 3px;
        border: none;
    }

    .fa-play{
        color: white !important;
    }

    .dropbtn{
        border: none !important;
    }
}