ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
    height: 60px;
  }

  li a:hover {
    background-color: rgb(24, 0, 24);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
  }

  li a {
    display: block;
    color: rgb(24, 0, 24);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin: 0px;
  }

  

body {
    background-color: rgb(24, 0, 24);
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
}


h1 {
    font-family: 'Zilla Slab', serif;
    color: rgb(24, 0, 24);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-weight: 50;
    font-size: 5em;
    text-align: center;
    line-height: 100%;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 10em;
    text-align: center;
    line-height: 100%;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-family: 'Zilla Slab', serif;
    color: rgb(24, 0, 24);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-weight: 100;
    font-size: 10em;
    text-align: center;
    line-height: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 100px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 7em;
    padding-left: 40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding-left: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h6 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
}


.saetze{
   display:flex;
    flex-direction: column;
    font-size: 0.8em;
}

.saetze span{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(55, 0, 0);
    font-size: 2em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
    line-height:150%;
} 
.right{
    text-align: right;
}   

.show {
    display:flex;
    flex-direction:row;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(24, 0, 24);

 }

 .show span{
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(24, 0, 24);
    font-size: 2em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
    line-height:150%;
    
 }


.container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-around;
    text-align: center;

  }

  .item {
    width: 100%;
    height: 100px;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(24, 0, 24);
    font-size: 4em;
    letter-spacing: 3px;

  }

  .item2 {
    width: 100%;
    height: 100px;
    padding-top: 50px;
    font-family: 'Zilla Slab', serif;
    color: rgb(24, 0, 24);
    font-size: 10em;
    letter-spacing: 3px;
  }

  .item3 {
    width: 100%;
    height: 100px;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(24, 0, 24);
    font-size: 6em;
    letter-spacing: 3px;
  }


  .heart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-around;
    padding-top: 10px;  
}

    .text-heart {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
    flex-basis:auto;
      }

      .text-heart2 {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 10em;
        padding: 10px;
        padding-left: 40px;
        letter-spacing: 3px;
        flex-basis:auto;
      }

      .text-heart3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 5em;
        padding: 10px;
        padding-left: 40px;
        letter-spacing: 3px;
        flex-basis:auto;

      }

      .go {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
      }
    
      .text {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 2em;
        letter-spacing: 3px;
    
      }

      .text2 {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 7em;
        letter-spacing: 3px;
    
      }

      .text3 {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 10em;
        letter-spacing: 3px;
    
      }

      .text4 {
        width: 100%;
        height: 100px;
        font-family: 'Zilla Slab', serif;
        color: rgb(24, 0, 24);
        font-size: 4em;
        letter-spacing: 3px;
  }
      
  