.nav ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
    height: 55px;
  }

  .nav li a:hover {
    background-color: rgb(24, 0, 24);
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin: 0px;
  }

  .nav li a {
    display: block;
    color: rgb(24, 0, 24);
    text-align: center;
    padding: 18px;
    text-decoration: none;
    margin: 0px;
  }


body {
    background-color: rgb(24, 0, 24);
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin: 0px;    
    overflow-x: hidden;
  }

  @media screen and (max-width:600px) {
    body {
      background-color:slategrey;
  }

}


  .einzug {
    margin-left: 60%;
  }

h1 {
    font-family: 'Zilla Slab', serif;
    color: rgb(24, 0, 24);
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-weight: 50;
    font-size: 5vw;
    text-align: left;
    line-height: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 30%;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

}


h2 {
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 22vw;
    text-align: left;
    line-height: 80%;
    padding: 0px;
    margin: 0px;
    margin-left: 30%;    
}

h3 {
  position: relative;
  font-family: 'Zilla Slab', serif;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  color: rgb(24, 0, 24);
  font-size: 18vw;
  text-align: left;
  line-height: 80%;
  padding: 0px;
  margin: 0px;
  margin-left: 5%;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-transform:uppercase;
}

  h3::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(24, 0, 24);
    border-right: 5px solid white; 
    animation: animate 7s linear infinite;
    
  }

  

h4 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 10vw;
    padding-left: 40px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4vw;
    padding-left: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

h6 {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
}

.boxen{
  display:flex;
   flex-direction:column;
   font-size: 0.8em;
}

.boxen span{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 0, 0);
  font-size: 2em;
  height: 100px;
  width: 100px;
  padding: 10px;
  padding-left: 40px;
  letter-spacing: 3px;
  line-height:150%;
} 

.saetze{
   display:flex;
    flex-direction: column;
    font-size: 0.8em;
}

.saetze span{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(55, 0, 0);
    font-size: 2em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
    line-height:150%;   
} 

.right{
  text-align: right;
}   

 .section {
   padding-top: 200px;
   background-color: rgb(255, 255, 255);
   padding-bottom: 200px;
 }

 .raum {
  padding-top: 200px;
  background-color: rgb(24, 0, 24)
  padding-bottom: 200px;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-around;
    text-align: center;


  }

  .item {
    width: 100%;
    height: 100px;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(24, 0, 24);
    font-size: 4em;
    letter-spacing: 3px;

  }

  .item:hover {
    color: rgb(24, 0, 24);
  }

  .item2 {
    width: 100%;
    height: 100px;
    padding-top: 50px;
    font-family: 'Zilla Slab', serif;
    color: rgb(24, 0, 24);
    font-size: 10em;
    letter-spacing: 3px;
    -webkit-animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-iteration-count:infinite;
  }

  .item3 {
    width: 100%;
    height: 100px;
    margin: 10px;
    font-family: 'Zilla Slab', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(24, 0, 24);
    font-size: 6em;
    letter-spacing: 3px;
  }

  .item3:hover {
    color: rgb(24, 0, 24);
  }



  .heart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-around;
    padding-top: 10px;  
}

    .text-heart {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 10px;
    padding-left: 40px;
    letter-spacing: 3px;
    flex-basis:auto;
      }

      .text-heart2 {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 10em;
        padding: 10px;
        padding-left: 40px;
        letter-spacing: 3px;
        flex-basis:auto;
        animation-name: animation4;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }

      .text-heart3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 5em;
        padding: 10px;
        padding-left: 40px;
        letter-spacing: 3px;
        flex-basis:auto;
        animation-name: animation3;
        animation-duration: 2s;
        animation-iteration-count: infinite;

      }

      article.myclass .text-fluss {
        font-family: 'Raleway', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 2.5em;
        padding: 10px;
        padding-left: 40px;
        letter-spacing: 3px;
        flex-basis:column;
        overflow: hidden; 
            border-right: .2em solid rgb(255, 255, 255); 
            white-space: nowrap; 
            margin: 0 auto; 
            animation-play-state: paused;
            animation: 
              typing 3.5s steps(30, end),
              blink-caret .75s step-end infinite;
          }

  

      .go {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        
        }
      }
    
      .text {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 2em;
        letter-spacing: 3px;
        writing-mode:sideways-lr;
        flex-basis: 20px;
    
      }

      .text2 {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 5em;
        letter-spacing: 3px;
        writing-mode: sideways-lr;
        flex-basis: 20px;

        
    
      }

      .text3 {
        width: 100%;
        height: 100px;
        margin: 10px;
        font-family: 'Zilla Slab', serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 10px rgb(24, 0, 24);
        font-size: 10em;
        letter-spacing: 3px;
        writing-mode: sideways-lr;
        flex-basis: 20px;
    
      }

      .text4 {
        width: 100%;
        height: 100px;
        font-family: 'Zilla Slab', serif;
        color: rgb(24, 0, 24);
        font-size: 20vw;
        letter-spacing: 3px;
        writing-mode: vertical-rl;
        flex-basis: 20px;
        
  }
      
  
      .impressum {
        font-family: 'Raleway', sans-serif;
        color:rgb(24, 0, 24);
        font-size: 1em;
        text-align:right;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        padding: 80px;

  }

  .div {
    
    width: 200px;
    border: 15px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0px;
    margin-left: 10%;
    margin-bottom: 20px; 
    animation-duration: 5s;
    animation-name: fadeOut;
    animation-iteration-count: infinite;
  }




  .div3 {
    
    width: 200px;
    border: 15px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0px;
    margin-left: 20%;
    margin-bottom: 20px; 
    animation-duration: 10s;
    animation-name: fadeOut;
    animation-iteration-count: infinite;
   
  }

  .div4 {
    
    width: 200px;
    border: 15px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 50px;
    margin: 0px;
    margin-left: 60%;
    margin-bottom: 20px;
    animation-duration: 15s;
    animation-name: fadeOut;
    animation-iteration-count: infinite; 
 
   
  }



  @keyframes animation1 {
    0% {
        transform: rotate(40deg)
    }

    50% {
        transform: rotate(700deg)
    }

    100% {
        transform: rotate(40deg)
    }
}

@keyframes animation2 {
  0% {
      color: rgb(24, 0, 24);
  }

  50% {
      color: rgb(255, 255, 255)
  }

  100% {
    color: rgb(24, 0, 24);
  }
}

@keyframes animation3 {
  0% {
      transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animation4 {
  0% {
      transform: scale(1.3);
  }

  50% {
      border-radius: 50%;
      transform: scale(0.7);
  }

  100% {
      border-radius: 0%;
      transform: scale(1.3);
  }
}



@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}



@keyframes animate 
{
  0%,10%,100% 
  {
    width: 0;
  }

  70%,90% 
  {
    width: 100%;
  }

}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  90% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}


@keyframes fadeOut {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;} 
} 

